VS2017DotNet/EhiWebService/Service References/EhiService/EhiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EhiServiceDataContract" elementFormDefault="qualified" targetNamespace="EhiServiceDataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EhiServiceRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EhiServiceRequestData" nillable="true" type="tns:EhiServiceRequestData" />
</xs:schema>